---
import KnowledgeGraph from '../components/KnowledgeGraph';
import ChatLayout from '../layouts/ChatLayout.astro';
title: Knowledge Graph
---

<div class="flex h-full">
  <KnowledgeGraph client:load />
</div>